@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #D8A25E;
}

header h1 {
    background-color: #343131;
    color: white;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

nav {
    display: flex;
    background-color: #A04747;
    height: 50px;
    line-height: 50px;
}

nav p {
    width: 120px;
    text-align: center;
}

nav p a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #EEDF7A;
    text-align: center;
    height: 50px;
    color: black;
    line-height: 50px;
    flex-shrink: 0; /* ensures footer height is fixed and doesn't shrink */
}

main {
    flex: 1; /* allows main content to take up remaining space */
}
.main-section {
	text-align: center;
	margin-top: 20px;
}
.main-section h2{
	margin-top: 100px;
}

table {
	width: 800px;
	background-color: white;
	margin: 10px auto;
	text-align: center;
}
table tr td{
	height: 40px;
}